body {
    display: flex;
    flex-direction: column;
    background-image: url("images/mock\ site\ final.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 10px 50px 100px 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoContainer {
    width: 2.3vw;
    background-image: url("./images/mock\ logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 50vw;
}


li {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: rgb(135, 135, 135);
    font-size: 1.25vw;
}

.about {
    font-weight: bold;
    color: black;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.first {
    color: rgb(234, 94, 76);
    border-top: 2px solid rgb(234, 94, 76);
    border-bottom: 2px solid rgb(234, 94, 76);
    font-weight: bold;
}

.second {
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.buyLeft.first, .buyLeft.second {
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    border-left: 2px solid rgb(234, 94, 76);
    border-right: 0.5px solid rgb(234, 94, 76);
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
}

.buyRight.first, .buyRight.second {
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    border-right: 2px solid rgb(234, 94, 76);
    padding-left: 3px;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
}

.buyLeft.second{
    border-left: 2px solid black;
    border-right: 0.5px solid black;
    padding: 8px 16px 10px 16px;
}

.buyRight.second {
    border-right: 2px solid black;
    padding: 8px 16px 10px 16px;
}

.section1 {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
}

.vidContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.play {
    width: 2vw;
    margin-right: 0.75vw;
}

.view {
    color: rgb(135, 135, 135);
    font-size: 1vw;
}

h1 {
    width: auto;
    font-size: 4vw;
    font-weight: normal;
    margin: 0;
    margin-top: 1vw;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.35vw;
    color: rgb(135, 135, 135);
    font-weight: normal;
    line-height: 2;
    margin: 0;
    margin-top: 1vw;
}

.buttonSample {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    line-height: 100%;
    margin-top: 4vw;
}

.sample, .sampleArrow {
    color: rgb(234, 94, 76);
    margin-left: 1vw;
}

.sample {
    font-size: 1vw;
}

.sampleArrow {
    font-size: 2vw;
}

.section2 {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 90px;
    color: black;
    font-weight: normal;
    margin-top: 18%;
    margin-bottom: 4%;
}

.p2 {
    font-size: 45px;
    color: rgb(135, 135, 135);
    font-weight: normal;
    margin-bottom: 7.5%;
}

.item1 {
    margin-left: 7%;
    margin-bottom: 11%;
}

h3 {
    margin-top: 6%;
    margin-bottom: 0;
    font-size: 34px;
    color: black;
}

.p3 {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 34px;
}

a#read {
    margin-bottom: 0;
    color: rgb(234, 94, 76);
    font-size: 40px;
    border-bottom: 5px solid rgb(234, 94, 76);
    padding-bottom: .75%;
}

.item2 {
    margin-left: 7%;
    margin-bottom: 0%;
}

#wrapper2 {
    position: absolute;
    right: 8%;
    margin-top: 23%;
}

#wrapper3 {
    margin-top: 90%;
    margin-left: 8%;
}

a#buy3 {
    margin-bottom: -7%;
    color: rgb(234, 94, 76);
    border-bottom: 5px solid rgb(234, 94, 76);
    padding-bottom: .75%;
    line-height: 5;
}

#image1 {
    position: relative;
    left: -1%;
    width: 45%;
    margin-top: -20%;
    margin-bottom: 0;
}

#image2 {
    position: relative;
    right: -0.5%;
    width: 50%;
    margin-left: 4.5%;

}

#image3 {
    position: relative;
    left: 14%;
    width: 30%;
    margin-top: 7%;
    margin-right: 55%;
    margin-bottom: 5%;
}

/* @media screen and (min-width: 576px) {
    {}
}

@media screen and (min-width: 461px) {
    
}

@media screen and (min-width: 346px) {
    {}
}

@media screen and (min-width: 230px) {
    {}
} */
