body {
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 215, 211);
    background-image: url("images/mock\ site\ final.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 1vw 4vw 10vw 8.5vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoContainer {
    width: 2.3vw;
    background-image: url("./images/mock\ logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 50vw;
}


li {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: rgb(135, 135, 135);
    font-size: 1.25vw;
}

.about {
    font-weight: bold;
    color: black;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-left: -2.5vw;
}

.first {
    color: rgb(234, 94, 76);
    border-top: 1px solid rgb(234, 94, 76);
    border-bottom: 1px solid rgb(234, 94, 76);
    font-weight: bold;
}

.second {
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.buyLeft.first, .buyLeft.second {
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    border-left: 1px solid rgb(234, 94, 76);
    border-right: 0.5px solid rgba(234, 95, 76, 0.5);
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
}

.buyRight.first, .buyRight.second {
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    border-right: 1px solid rgb(234, 94, 76);
    padding-left: 3px;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
}

.buyLeft.second, .buyRight.second {
    font-size: 1.1vw;
    padding: 1vw 2vw 1vw 2vw;
}

.buyLeft.second {
    border-left: 1px solid black;
    border-right: 0.5px solid rgba(100, 100, 100, 0.5);
}

.buyRight.second {
    border-right: 1px solid black;
}

.section1 {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
}

.vidContainer {
    display: flex;
    flex-direction: row;
}

.play {
    width: 2vw;
    margin-right: 0.75vw;
}

.view {
    color: rgb(135, 135, 135);
    font-size: 1.1vw;
    margin-top: 0.1vw;
}

h1 {
    width: auto;
    font-size: 4.5vw;
    font-weight: normal;
    margin: 0;
    margin-top: 0.5vw;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;
    color: rgb(135, 135, 135);
    font-weight: normal;
    line-height: 2;
    margin: 0;
    margin-top: 1vw;
}

.buttonSample {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    line-height: 100%;
    margin-top: 4.5vw;
}

.sample, .sampleArrow {
    color: rgb(234, 94, 76);
}

.sample {
    font-size: 1vw;
    margin-left: 1.5vw;
}

.sampleArrow {
    font-size: 1.5vw;
    margin-left: 1vw;
}

.section2 {
    display: flex;
    flex-direction: column;
    margin-top: 14.5vw;
    margin-left: 6.5vw;
}

h2 {
    font-size: 3.25vw;
    color: black;
    font-weight: normal;
    margin-bottom: 0;
}

.p2 {
    font-size: 1.65vw;
    color: rgb(150, 150, 150);
    font-weight: normal;
    margin-top: 0;
}

.item1 {
    margin-left: 7vw;
    margin-top: 5.15vw;
}

h3 {
    margin-bottom: 0;
    font-size: 1.1vw;
    color: black;
}

.p3 {
    margin-top: 0.5vw;
    font-size: 1.2vw;
    color: rgb(150, 150, 150);
    margin-bottom: 1.25vw;
}

a#read {
    margin-bottom: 0;
    color: rgb(234, 94, 76);
    font-size: 1.5vw;
    border-bottom: 1.5px solid rgba(234, 95, 76, 0.7);
    padding-bottom: 0.4vw;
}

.item2 {
    margin-left: 7vw;
    margin-top: 4vw;
}

.section3 {
    display: flex;
    flex-direction: column;
    margin-top: 22vw;
    margin-left: 43vw;
}

.buyContainer {
    margin-top: 3vw;
}

.section4 {
    margin-top: 20vw;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin-left: -10vw;
    margin-right: -10vw;
}

.leftImage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 6vw;
}

.rightImage {
    display: flex;
    flex-direction: column;
}

.image1 {
    width: 42vw;
    margin-bottom: 5vw;
}

.image2 {
    width: 55vw;
}

.image3 {
    width: 30vw;;
}