body {
    display: flex;
    flex-direction: column;
    background-image: url("images/mock\ site\ final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    margin: 1% 0 0 8%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: baseline;
    margin: -4% 0 0 40%;
    width: auto;
}

.logo {
    width: 3%;
}

li {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: rgb(135, 135, 135);
    font-size: 1.5vw;
}

.buy1 {
    color: rgb(234, 94, 76);
    border: 5px solid rgb(234, 94, 76);
    border-radius: 3vh;
    padding: 1.75% 3% 1.75% 2%;
}

.wrapper1 {
    display: flex;
    flex-direction: column;
    margin: -5% 0 0 8%;
}

.video {
    margin-top: 24vh;
    margin-bottom: -2vh;
    align-items: baseline;
}

.vid {
    width: 2.5vw;
}

.view {
    color: rgb(135, 135, 135);
    font-size: 35px;
}

h1 {
    width: auto;
    font-size: 5.5vw;
    font-weight: normal;
    margin-top: 3.5vh;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.9vw;
    color: rgb(135, 135, 135);
    font-weight: normal;
    line-height: 2;
    margin-top: -3.5%;
    margin-bottom: 0;
}

#buy2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.buy2 {
    color: black;
    border: 5px solid black;
    border-radius: 78px;
    padding: 1.5% 2% 1.75% 2.25%;
    font-size: 42px;
    margin-top: 6%;
    margin-left: -0.5%;
    zoom: 50%;
}

.sample {
    color: rgb(234, 94, 76);
    margin-left: 2%;
    font-size: 38px;
    zoom: 50%;
}

.section2 {
    margin-left: 20%;
    zoom: 50%;
}

h2 {
    font-size: 90px;
    color: black;
    font-weight: normal;
    margin-top: 18%;
    margin-bottom: 4%;
}

.p2 {
    font-size: 45px;
    color: rgb(135, 135, 135);
    font-weight: normal;
    margin-bottom: 7.5%;
}

.item1 {
    margin-left: 7%;
    margin-bottom: 11%;
}

h3 {
    margin-top: 6%;
    margin-bottom: 0;
    font-size: 34px;
    color: black;
}

.p3 {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 34px;
}

a#read {
    margin-bottom: 0;
    color: rgb(234, 94, 76);
    font-size: 40px;
    border-bottom: 5px solid rgb(234, 94, 76);
    padding-bottom: .75%;
}

.item2 {
    margin-left: 7%;
    margin-bottom: 0%;
}

#wrapper2 {
    position: absolute;
    right: 8%;
    margin-top: 23%;
}

#wrapper3 {
    margin-top: 90%;
    margin-left: 8%;
}

a#buy3 {
    margin-bottom: -7%;
    color: rgb(234, 94, 76);
    border-bottom: 5px solid rgb(234, 94, 76);
    padding-bottom: .75%;
    line-height: 5;
}

#image1 {
    position: relative;
    left: -1%;
    width: 45%;
    margin-top: -20%;
    margin-bottom: 0;
}

#image2 {
    position: relative;
    right: -0.5%;
    width: 50%;
    margin-left: 4.5%;

}

#image3 {
    position: relative;
    left: 14%;
    width: 30%;
    margin-top: 7%;
    margin-right: 55%;
    margin-bottom: 5%;
}

/* @media screen and (min-width: 576px) {
    {}
}

@media screen and (min-width: 461px) {
    
}

@media screen and (min-width: 346px) {
    {}
}

@media screen and (min-width: 230px) {
    {}
} */
